In [1]:
mydic={
    "car1":"BMW",
    "car2":'Audi',
    'car3':'Rolles royace',
    'car4':'Toyota',
    'car5':'Nissan',
}
mydic

{'car1': 'BMW',
 'car2': 'Audi',
 'car3': 'Rolles royace',
 'car4': 'Toyota',
 'car5': 'Nissan'}

In [2]:
for x in mydic:
    print(x)

car1
car2
car3
car4
car5

In [3]:
for x in mydic:
    print(x, end=" ")

car1 car2 car3 car4 car5

In [5]:
for x in mydic.values():
    print(x)

BMW
Audi
Rolles royace
Toyota
Nissan

In [6]:
for x in mydic.items():
    print(x)

('car1', 'BMW')
('car2', 'Audi')
('car3', 'Rolles royace')
('car4', 'Toyota')
('car5', 'Nissan')