In [65]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [66]:
df = pd.read_csv('titanic.csv')
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [67]:
df = df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis=1)

In [68]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [69]:
target = df.Survived
inputs = df.drop(['Survived'], axis=1)

In [70]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [71]:
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [72]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head()

   female   male
0   False   True
1    True  False
2    True  False
3    True  False
4   False   True

In [73]:
inputs = pd.concat([inputs, dummies], axis=1)
inputs.head()

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False
3       1  female  35.0  53.1000    True  False
4       3    male  35.0   8.0500   False   True

In [74]:
inputs = inputs.drop(['Sex', 'female'], axis=1)
inputs.head()

   Pclass   Age     Fare   male
0       3  22.0   7.2500   True
1       1  38.0  71.2833  False
2       3  26.0   7.9250  False
3       1  35.0  53.1000  False
4       3  35.0   8.0500   True

In [75]:
inputs.isnull().sum()

Pclass      0
Age       177
Fare        0
male        0
dtype: int64

In [76]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs

     Pclass        Age     Fare   male
0         3  22.000000   7.2500   True
1         1  38.000000  71.2833  False
2         3  26.000000   7.9250  False
3         1  35.000000  53.1000  False
4         3  35.000000   8.0500   True
..      ...        ...      ...    ...
886       2  27.000000  13.0000   True
887       1  19.000000  30.0000  False
888       3  29.699118  23.4500  False
889       1  26.000000  30.0000   True
890       3  32.000000   7.7500   True

[891 rows x 4 columns]

In [77]:
inputs.isnull().sum()

Pclass    0
Age       0
Fare      0
male      0
dtype: int64

In [78]:
x_train, x_test, y_train, y_test = train_test_split(inputs, target, test_size=0.2)

In [79]:
x_train.shape

(712, 4)

In [80]:
model = GaussianNB()
model.fit(x_train, y_train)

GaussianNB()

In [81]:
model.score(x_test, y_test)

0.8156424581005587

In [86]:
y_test[:10]

202    0
169    0
423    0
653    1
291    1
354    0
804    1
221    0
248    1
192    1
Name: Survived, dtype: int64

In [89]:
model.predict_proba(x_test[:10])

array([[0.96632279, 0.03367721],
       [0.92609733, 0.07390267],
       [0.48798734, 0.51201266],
       [0.48802959, 0.51197041],
       [0.0061414 , 0.9938586 ],
       [0.96558367, 0.03441633],
       [0.96447239, 0.03552761],
       [0.92429087, 0.07570913],
       [0.62847332, 0.37152668],
       [0.44122151, 0.55877849]])