# Loan Approval Prediction

## Exploratory Data Analysis

In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
df = pd.read_csv("data/loan_prediction.csv")
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

## Handling null values

In [28]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [29]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [30]:
limit = len(df)*0.05
cols_to_drop = df.columns[df.isna().sum() <= limit]
df.dropna(subset=cols_to_drop, inplace=True)
df.isna().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed        30
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       48
Property_Area         0
Loan_Status           0
dtype: int64

In [31]:
df['Self_Employed'].value_counts()

Self_Employed
No     451
Yes     72
Name: count, dtype: int64

In [32]:
df['Self_Employed'].fillna("No", inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_14192\3959074984.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Self_Employed'].fillna("No", inplace=True)

In [33]:
df.isna().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       48
Property_Area         0
Loan_Status           0
dtype: int64

In [34]:
df["Credit_History"].fillna(1.0, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_14192\1310549403.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Credit_History"].fillna(1.0, inplace=True)

In [35]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [36]:
df.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [37]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

#### Drop some unnecessary columns

In [38]:
df.drop(["Loan_ID", "Dependents", "Self_Employed", "CoapplicantIncome", "Loan_Amount_Term"], axis=1, inplace=True)

In [39]:
for col in df:
    print(f"{col}: {df[col].unique()}")

Gender: ['Male' 'Female']
Married: ['Yes' 'No']
Education: ['Graduate' 'Not Graduate']
ApplicantIncome: [ 4583  3000  2583  6000  5417  2333  3036  4006 12841  3200  2500  3073
  1853  1299  4950  3596  3510  4887  7660  5955  2600  3717  9560  2799
  4226  1442  3750  4166  3167  4692  3500 12500  3667  3748  3600  1800
  2400  3941  5649  5821  2645  4000  1928  3086  4230  4616 11500  2708
  2132  3366  8080  3357  3029  2609  5726 10750  7100  4300  3208  1875
  5266  1000  3333  3846  1378  3988  2366  8566  5695  2958  6250  3273
  4133  3620  2484  1977  4188  1759  4288  4843  3052 11417  7333  3800
  2071  5316  2929  5050 14583  2214  5568 10408  2137  2957  3692 10513
  6080 20166  2014  2718  3459  4895  3316 14999  4200  5042  6950  2698
 11757  2330 14866  1538 10000  4860  6277  2577  9166  2281  3254 39999
  9538  2980  1863  7933  3089  4167  9323  2439  2237  8000  1820  3522
  5708  4344  3497  2045  5516  6400  1916  4600 33846  3625 39147  2178
  2383  9328  4885 12000  6033  3858  4191  3125  8333  3416 11000  4923
  3917  4408  3244  3975  2479  3418  3430  7787  5703  3173  3850   150
  3727  5000  4283  2221  4009  2971  3250  2491  3716  3155  5500  5746
  3463  3812  3315  5819  2510  2965  3406  6050  9703  6608  2882  1809
  1668  3427  2661 16250  3083  6045  5250 14683  4931  6083  2060  3481
  7200  5166  4095  4708  4333  2876  3237 11146  2833  2620  3900  2750
  3993  3103  4100  4053  3927  2301  1811  3158  3704  4124  9508  3075
  4400  3153  4416  6875  4666  1625  3762 20233  7667  2917  2927  2507
  3399  2058  3541  4342  3166 15000  8666  4917  5818  4384  2935 63337
  4160  2647  2378  4554  2499  6333  2625  9083  8750  2666  2423  3875
  5167  4723  4750  3013  6822  6216  6325 19730 15759  5185  3062  2764
  4817  4310  3069  5391  5941  7167  4566  2346  5488  9167  9504  1993
  3100  3276  3180  3033  3902  1500  2889  2755  1963  7441  4547  2167
  2213  8300 81000  3867  6256  6096  2253  2149  2995  1600  1025  3246
  5829 14880  4606  5935  2920  2717  8624  6500 12876  2425  1926 10416
  7142  3660  7901  4707 37719  3466  4652  3539  3340  2769  2309  1958
  3948  2483  7085  3859  4301  3708  4354  8334  7740  3015  5191  2947
   210  3450  2653  4691  5532 16525  6700 16667  4350  3095  2083 10833
  3547 18333  2435  2699  5333  3691 17263  3597  3326  4625  2895  6283
   645  3159  4865  4050  3814 20833 13262  3598  6065  3283  2130  5815
  2031  4683  3400  2192  5677  7948 17500  3775  5285  2679  6783  4281
  3588 11250 18165  2550  6133  3617  6417  4608  2138  3652  2239  3017
  2768  3358  2526  2785  2454  3593  5468  2667 10139  3887  4180  3675
 19484  5923  5800  8799  4467  3417 16666  6125  6406  3229  1782  3182
  6540  1836  1880  2787  2297  2165  2726 16120  3833  6383  9963  5780
   416  2894  3676  3987  3232  2900  4106  8072  7583]
LoanAmount: [128.  66. 120. 141. 267.  95. 158. 168. 349.  70. 109. 200. 114.  17.
 125. 100.  76. 133. 104. 315. 116. 151. 191. 122. 110.  35. 201.  74.
 106. 320. 144. 184.  80.  47.  75. 134.  44. 112. 286.  97.  96. 135.
 180.  99. 165. 258. 126. 312. 136. 172.  81. 187. 113. 176. 130. 111.
 167. 265.  50. 210. 175. 131. 188.  25. 137. 115. 225. 216.  94. 139.
 118. 185. 154.  85. 259. 194.  93. 160. 182. 650. 102. 290.  84.  88.
 242. 129.  30. 152. 244. 600. 255.  98. 275. 121.  63.  87. 101. 495.
  67.  73. 260. 108.  58.  48. 164. 170.  83.  90. 166. 124.  55.  59.
 127. 214. 240.  72.  60.  42. 280. 140. 155. 123. 138. 279. 192. 304.
 330. 150. 207. 436.  78.  54.  89. 132. 480.  56. 300. 376. 117. 490.
  71. 173.  46. 228. 308. 105. 236. 570. 380. 296. 156. 103.  45.  65.
  53. 360.  62. 218. 178. 239. 405. 143. 148. 190. 149. 153. 162. 230.
  86. 234. 246. 500. 186. 119. 107. 209. 208. 243.  40. 250. 311. 400.
 161. 196. 324. 157. 145. 181.  26. 211.   9. 205.  36.  61. 146. 142.
 350. 496. 253.]
Credit_History: [1. 0.]
Property_Area: ['Rural' 'Urban' 'Semiurban']
Loan_Status: ['N' 'Y']

### Applying label encoder for categorical data

In [40]:
from sklearn.preprocessing import LabelEncoder
# Encode categorical features
encoder = LabelEncoder()
for col in df.select_dtypes(include="object"):
    df[col] = encoder.fit_transform(df[col])

In [41]:
df.head()

,Gender,Married,Education,ApplicantIncome,LoanAmount,Credit_History,Property_Area,Loan_Status
1,1,1,0,4583,128.0,1.0,0,0
2,1,1,0,3000,66.0,1.0,2,1
3,1,1,1,2583,120.0,1.0,2,1
4,1,0,0,6000,141.0,1.0,2,1
5,1,1,0,5417,267.0,1.0,2,1

In [42]:
df['Education'] = df['Education'].replace({0:1, 1:0})
df.head()

,Gender,Married,Education,ApplicantIncome,LoanAmount,Credit_History,Property_Area,Loan_Status
1,1,1,1,4583,128.0,1.0,0,0
2,1,1,1,3000,66.0,1.0,2,1
3,1,1,0,2583,120.0,1.0,2,1
4,1,0,1,6000,141.0,1.0,2,1
5,1,1,1,5417,267.0,1.0,2,1

### Splitting Train test data

In [43]:
from sklearn.model_selection import train_test_split
y = df["Loan_Status"]
x = df.drop("Loan_Status", axis=1)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [44]:
x_train.shape

(442, 7)

### Scaling data

In [45]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

## Machine Learning

In [46]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train_scaled, y_train)

LogisticRegression()

In [47]:
model.score(x_test_scaled, y_test)

0.7927927927927928

### Save the model

In [48]:
import joblib
joblib.dump(model, 'model.pkl')
print("Model saved as model.pkl")

Model saved as model.pkl